/* Auth.css */

.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url("../../assets/images/Auth.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}

/* Center form and make it visually appealing */
.auth-form {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white background */
    padding: 2rem;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.auth-form h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

.auth-form input {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

.auth-form button {
    width: 100%;
    padding: 0.8rem;
    background-color: #ff8a65;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.auth-form button:hover {
    background-color: #ff7043;
}

.auth-form a {
    color: #ff8a65;
    text-decoration: none;
}

.auth-form a:hover {
    text-decoration: underline;
}

.auth-form p{
    color:rgba(0, 0, 0, 0.393)
}
.auth-form .error-message {
    color: red;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
  

@media (max-width: 768px) {
    .auth-form {
        width: 100%;
        padding: 1.5rem;
    }
}
